#alliance-map {
    height: 500px; 
    width: 100%; 
    border: 1px solid #ccc;
    
    .leaflet-popup-content {
      min-width: 200px;
    }
  }
  
  .leaflet-control-geocoder {
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    background: white;
    border-radius: 5px;
  }
  
  .leaflet-marker-icon {
    border: 2px solid white;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
  }
  
  .leaflet-overlay-pane path {
    stroke-linecap: round;
    stroke-linejoin: round;
  }
